# Logs
*.log
npm-debug.log*

# Tests
test/
*.test.js
*.test.ts
coverage/

# Tools
tsconfig.json
.vscode/
.github/
package-lock.json
bun.lock
bunfig.toml
dprint.json
.claude/

# Junk
.DS_Store

# Git
.git/
.gitignore
.gitattributes

# Docs
AGENTS.md
CLAUDE.md
doc/
